 @model StoreProject.Models.ViewModels.AddProductRequest


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add new Product</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="ProductName" />
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="description" asp-for="Description"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" id="price" asp-for="Price" />
        </div>

        <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" asp-for="Stock" />
        </div>

        <div class="mb-3">
            <label class="form-label">Featured Image Url</label>
            <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
        </div>


        <div class="mb-3">
            <label class="form-label">Categories</label>

            <select class="form-select dropCategories" asp-items="@Model.Categories" asp-for="SelectedCategories" multiple="multiple">
                <option selected disabled>Selecciona una categoría</option>
            </select>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
            <label class="form-check-label">
                Visible
            </label>
        </div>

        <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
            <option value="AL">Alabama</option>
            ...
            <option value="WY">Wyoming</option>
        </select>

        <select class="js-example-basic-multiple" name="states[]" multiple>
            <option value="AL">Alabama</option>
            ...
            <option value="WY">Wyoming</option>
        </select>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
<script src="~/js/jquery_3.5.1_jquery.min.js"></script>

<script src="~/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>